<script src="jquery.raty.js"></script>

<% @blogs.each do |blog| %>
 <div class="flex">
        <div><%= attachment_image_tag blog, :image, :fill, 200, 200, class:"img-thumbnail", fallback:"noimage.jpg", size:'200x200' %></div>
        <div>
            <h3 class="blog-title"><%= link_to blog.title, blog_path(blog.id) %></h3><br>
            <span class="blog-text"><%= truncate(markdown(blog.body).gsub(%r{</?[^>]+?>},'')) %></span><br>
        <!--/星評価-->
          <div id="star-rate-<%= blog.id %>" class="star"></div>
          <script>
            $('#star-rate-<%= blog.id %>').empty();
            $('#star-rate-<%= blog.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= blog.rate %>,
            });
          </script>  
        <!--/星評価-->
            <span class="blog-user"><%= link_to blog.user.name, "/blogs/users/#{blog.user_id}" %></span>
            <span class="blog-user"><%= blog.blog_comments.count %>件のコメント
                <% if user_signed_in? %>
                    <% if blog.favorited_by?(current_user) %>
                        <%= link_to blog_favorites_path(blog), method: :delete, remote: true do %>
                            <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
                            <%= blog.favorites.count %>
                        <% end %>
                <% else %>
                        <%= link_to blog_favorites_path(blog), method: :post, remote: true do %>
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <%= blog.favorites.count %>
                        <% end %>
                    <% end %>
                <% else %>
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"  style="color: red;"><%= blog.favorites.count %>
                <% end %><br></span>
            <span class="game"><%= blog.game.name %></span><br>
            <span class="blog-text"><%= blog.created_at.strftime("%Y/%m/%d %H:%M:%S") %></span>
        </div>
    </div>
<% end %>
 <%= paginate @blogs %>
