<%= render 'layouts/header' %>

<script src="jquery.raty.js"></script>

<% if @comment.present? %>
<% if @comment.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>


<div class="col-xs-9">

<h2 class="blog-title-show"><%= @blog.title %></h2><br>
<%= @blog.created_at.strftime("%Y/%m/%d %H:%M:%S") %><br>
<% if @blog.user == current_user %>
<%= link_to '編集する', edit_blog_path(@blog), class:"btn btn-primary" %>
<%= link_to '削除する', blog_path(@blog), method: :delete, class:"btn btn-danger" %><br>
<% end %>


<% @blog.tag_list.each do |tag| %>
  <span class="label label-success"><%= tag %></span>
<% end %><br>

<%= attachment_image_tag @blog, :image, :fill, 600, 300, class:"img-thumbnail", fallback:"noimage.jpg", size:'200x100' %><br>

<div class="blog-text2"><%= markdown(@blog.body) %></div><br>

<!--/星評価-->
<h5 class="label label-default">今回のゲーム評価</h5>
<div id="star-rate-<%= @blog.id %>" class="blog-text2"></div><br>
<script>
    $('#star-rate-<%= @blog.id %>').empty();
	$('#star-rate-<%= @blog.id %>').raty({
	size: 36,
	starOff:  '<%= asset_path('star-off.png') %>',
	starOn : '<%= asset_path('star-on.png') %>',
	starHalf: '<%= asset_path('star-half.png') %>',
	half: true,
	readOnly: true,
	score: <%= @blog.rate %>,
	});
</script>  
<!--/星評価-->

<%= attachment_image_tag(@blog.user, :profile_image, :fill, 50, 50 ) %>
<%= @blog.user.name %><br>


<h5 class="label label-default">ボードゲーム名</h5>
<%= @blog.game.name %><br>

<h5 class="label label-default">プレイ人数</h5>
<% if @blog.game.play_people == 0 %>
2人<br>
<% elsif @blog.game.play_people == 1 %>
2〜6人<br>
<% elsif @blog.game.play_people == 2 %>
3〜6人<br>
<% elsif @blog.game.play_people == 3 %>
6人以上<br>
<% else %>
登録なし<br>
<% end %>

<h5 class="label label-default">プレイ時間</h5>
<% if @blog.game.play_time == 0 %>
30分<br>
<% elsif @blog.game.play_time == 1 %>
30〜60分<br>
<% elsif @blog.game.play_time == 2 %>
60〜120分<br>
<% elsif @blog.game.play_time == 3 %>
120分以上<br>
<% else %>
登録なし<br>
<% end %>

<% if user_signed_in? %>
	<% if @blog.favorited_by?(current_user) %>
		<%= link_to blog_favorites_path(@blog), method: :delete, remote: true do %>
			<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
			<%= @blog.favorites.count %>
		<% end %>
	<% else %>
		<%= link_to blog_favorites_path(@blog), method: :post, remote: true do %>
			<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			<%= @blog.favorites.count %>
		<% end %>
	<% end %>
<% else %>
<span class="glyphicon glyphicon-heart" aria-hidden="true"  style="color: red;"><%= @blog.favorites.count %><br></span>
<% end %>

<table id="comments" class="table table-hover table-inverse">
	<% @blog.blog_comments.each do |blog_comment| %>
		<tr>
			<td><%= attachment_image_tag(blog_comment.user, :profile_image, :fill, 50, 50 ) %><br>
			<%= blog_comment.user.name %></td>
			<td><div class="comment-tag">
			<%= blog_comment.comment %></td>
			</div>
			<td>
				<% if blog_comment.user == current_user%>
			  		<div>
    					<%= link_to "Destroy", blog_blog_comment_path(@blog,blog_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
			  		</div>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>


<% if user_signed_in? %>
<%= form_for [@blog, @blog_comment] do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントする" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %><br>
<% end %>
<% end %>

</div>

<%= render 'layouts/blogside' %>

<%= render 'layouts/footer' %>