<%= render 'layouts/header' %>

<% @blog.tag_list.each do |tag| %>
  <span class="label label-success"><%= tag %></span><br>
<% end %>

<%= @blog.user.name %><br>
<%= @blog.title %><br>
<%= @blog.body %><br>
<%= attachment_image_tag @blog, :image, :fill, 100, 100 %><br>

<% if @blog.favorited_by?(current_user) %>
    <%= link_to blog_favorites_path(@blog), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
    	<%= @blog.favorites.count %>
    <% end %>
<% else %>
    <%= link_to blog_favorites_path(@blog), method: :post, remote: true do %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    	<%= @blog.favorites.count %>
    <% end %>
<% end %>

<table id="comments" class="table table-hover table-inverse">
	<% @blog.blog_comments.each do |blog_comment| %>
		<tr>
			<td><%= attachment_image_tag(blog_comment.user, :profile_image, :fill, 50, 50 ) %></td>
			<td><%= blog_comment.user.name %></td>
			<td><%= blog_comment.comment %></td>
			<td>
				<% if blog_comment.user == current_user%>
			  		<div>
    					<%= link_to "Destroy", blog_blog_comment_path(@blog,blog_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
			  		</div>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<%= form_for [@blog, @blog_comment] do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>

<% if @blog.user == current_user %>
<%= link_to '編集する', edit_blog_path(@blog) %><br>
<%= link_to '削除する', blog_path(@blog), method: :delete %>
<% end %>