<%= render 'layouts/header' %>
<div class="col-xs-9">
    <h2 class="search-title"><%= @user.name %>さんの記事一覧</h2>
        <%= render 'blogs/index' %>
</div>

<%= render 'layouts/blogside' %>

<%= render 'layouts/footer' %>