<%= render 'layouts/header' %>

<div class="row">
	<div class="col-xs-offset-1 col-xs-8">
		<h2 class="mypage-headline"><%= @user.name %>さんのマイページ</h2>

		<table>
			<th>登録情報</th>
				<td><%= link_to "プロフィール編集", edit_user_path(@user) %></td>
				<td><button type="button" class="btn btn-primary">パスワードを変更する</button></td>
		</table>

		<table class="table table-bordered mypage-table">
			<tbody>
				<tr>
					<td class="active", style="width:150px">ユーザー名</td>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<td class="active">メールアドレス</td>
					<td><%= @user.email %></td>
				</tr>
                <tr>
					<td class="active">ユーザーアイコン</td>
					<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img" %></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>