<%= render 'layouts/header' %>


<h2 class="mypage-headline"><%= @user.name %>さんのマイページ</h2>

<div class="col-xs-9">
    <h2 class="search-title"><%= @user.name %>さんの記事一覧</h2>
        <%= render 'blogs/index' %>
</div>

<div class="col-xs-3">	
	<h4 class="plofile">登録情報</h4>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>ユーザー名</td>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= @user.email %></td>
				</tr>
                <tr>
					<td>ユーザーアイコン</td>
					<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img" %></td>
				</tr>
				<tr>
					<td><%= link_to "プロフィール編集", edit_user_path(@user),class:"btn btn-primary" %></td>
				</tr>
			</tbody>
		</table>
</div>