<%= render 'layouts/header' %>

<div class="col-xs-offset-1 col-xs-10">
			<h2>ユーザー一覧</h2>
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th class="col-xs-2 th1">会員ID</th>
						<th class="ol-xs-3 th2">氏名</th>
						<th class="ol-xs-3 th3">メールアドレス</th>
						<th class="ol-xs-3 th3">ブログ数</th>
						<th class="ol-xs-3 th4">ステータス(クリックで変更)</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= user.name %></td>
						<td><%= user.email %></td>
						<td><%= user.blog_ids.count %></td>
						<td><% if user.deleted? %>
							<%= link_to '退会済み', admins_user_path(user.id), method: :patch, data: { confirm: 'ユーザーを復活しますか？' } %>
							<% else %>
							<%= link_to '有効', admins_user_path(user.id), method: :patch, data: { confirm: 'ユーザーを削除しますか？' }  %>
							<% end %>
						</td>
					</tr>
					<% end %>
					<%= paginate @users %>
				</tbody>
			</table>

			<%= render 'layouts/footer' %>
</div>

