<div class="col-xs-3">

    <h4 class="bg-info">サイト内検索</h4>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search"><br>
    </div>

    <h4 class="bg-info">条件から探す</h4>
        <span>プレイ人数</span><br>
        <%= check_box_tag :sample %>
        <%= label_tag :sample, "2人" %>
        <%= check_box_tag :sample %>
        <%= label_tag :sample, "2〜6人" %><br>
        <%= check_box_tag :sample %>
        <%= label_tag :sample, "3〜6人" %>
        <%= check_box_tag :sample %>
        <%= label_tag :sample, "6人以上" %><br>

        <span>プレイ時間</span><br>
        <%= check_box_tag :sample %>
        <%= label_tag :sample, "30分" %>
        <%= check_box_tag :sample %>
        <%= label_tag :sample, "30〜60分" %><br>
        <%= check_box_tag :sample %>
        <%= label_tag :sample, "60〜120分" %>
        <%= check_box_tag :sample %>
        <%= label_tag :sample, "120分以上" %><br>

    <h4 class="bg-info">人気のタグ</h4>
    <% @tags.each do |tag| %>
    <span class="label label-success"><%= tag %></span>
    <% end %>
         
</div>
