<header class="navbar  navbar-default">
      <div class="container-fluid">
        <nav class='nav navbar-nav navbar-left' >
          <h1>Boadeed</h1>
        </nav>
          <nav>
              <ul class="nav navbar-nav navbar-right">
              <% if admin_signed_in? %>
                <p class="navbar-text">管理者ログイン中</p>
                <li><%= link_to 'ユーザー一覧',admins_users_path %></li>
                <li><%= link_to 'ボードゲーム一覧',admins_games_path %></li>
                <li><%= link_to 'タグ一覧',admins_tags_path %></li>
                <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
              <% elsif user_signed_in? %>
                 <p class="navbar-text">ようこそ <%= current_user.name %> さん !</p>
                <li><%= link_to '新規投稿',new_blog_path %></li>
                <li><%= link_to '記事一覧',blogs_path %></li>
                <li><%= link_to 'マイページ',user_path(current_user.id) %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
               <p class="navbar-text">ようこそ ゲスト さん !</p>
               <li><%= link_to 'トップ',root_path %></li>
                <li><%= link_to 'About',homes_about_path %></li>
                <li><%= link_to '記事一覧',blogs_path %></li>
                <li><%= link_to '新規登録',new_user_registration_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
      </div>
    </header>

    <div class= "backimage">
      <div class='container'>
      
        <p id="notice"><%= notice %></p>

        <%= yield %>
        
