<header class="navbar  navbar-default">
      <div class="container-fluid">
        <nav class='nav navbar-nav navbar-left' >
          <h1>Boadeed</h1>
        </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                 <p class="navbar-text">ようこそ <%= current_user.name %> さん !</p>
                <li><%= link_to '新規投稿',user_path %></li>
                <li><%= link_to '記事一覧',user_path %></li>
                <li><%= link_to 'マイページ',user_path %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
               <p class="navbar-text">ようこそ ゲスト さん !</p>
                <li><%= link_to 'About',new_user_registration_path %></li>
                <li><%= link_to '記事一覧',new_user_registration_path %></li>
                <li><%= link_to '新規登録',new_user_registration_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
      </div>
    </header>
      <div class='container'>

        <p id="notice"><%= notice %></p>

        <%= yield %>